.main-user {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(96 165 250 / var(--tw-bg-opacity, 1));
    color: white;
    font-weight: bold;
    padding: 15px;
}

.top-bar a {
    background-color: white;
    color: rgb(133, 133, 133);
    text-decoration: none;
    border: rgb(133, 133, 133) solid 2px;
    padding: 10px 17px;
    border-radius: 20px;
    transition: .4s ease;
}
.top-bar a:hover {
    text-decoration: underline;
    background-color: rgb(133, 133, 133);
    color: white;
}

.top-bar p {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 10px 20px;
    margin: 0;
    border-radius: 10px;
    border: white solid 1px;
}

.container {
    display: flex;
    flex: 1;
}

.left-bar {
    position: fixed;
    top: 73px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100% - 50px);
	background-color: rgb(37 99 235);
    border-right: 1px solid #ddd;
    font-weight: bold;
}

.left-bar .option {
    display: flex;
    align-items: center;
    color: white;
    padding: 20px;
    cursor: pointer;
    transition: .3s ease;
}
.left-bar .option.active {
    border-radius: 999px;
    background-color: rgb(96 165 250);
}

.left-bar .option:hover {
    border-radius: 999px;
    background-color: rgb(96 165 250);
}

.left-bar p {
    margin: 0;
}

.left-bar svg {
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.content {
    background-color: rgb(241 245 249);
    margin: 70px 0 0 180px;
    flex: 1;
}

.container-init {
    display: flex;
}

.container-news {
    width: 65%;
    height: 89vh;
    border-right: 3px solid #20dd4f;
}

.container-reminder {
    width: 35%;
    padding: 10px;
}

.container-reminder-title {
    display: flex;
    background-color: #dbdbdb;
    border-radius: 10px;
    padding: 0 30px;
    width: max-content;
    margin: auto;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
} 
.container-reminder-title:hover {
    background-color: #b6b6b6;
} 

.container-reminder-title h1 {
    font-size: 20px;
    margin: 0;
}

.container-reminder-title div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container-reminder-title svg {
    width: 30px;
    height: 30px;
}

.container-reminder-title span {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 0.8em;
    font-weight: bold;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-reminder-title span::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: red;
    border-radius: 25px;
    animation: loop 1s 0s infinite;
  }
  
  @keyframes loop {
    0% {
      background-color: red;
      width: 1px;
      height: 1px;
    }
    100% {
      background-color: rgba(0, 255, 0, 0);
      width: 40px;
      height: 40px;
    }
  }
  

.box-activite-day {
    border-left: 6px solid rgb(26, 248, 82);
    background-color: #d8fcda;
    border-radius: 10px;
    margin: 10px 0;
    padding: 13px 5px;
}

.box-activite-day-info {
    display: flex;
    margin-bottom: 7px;
    align-items: center;
}

.box-activite-day-info div {
    width: 7px;
    height: 7px;
    margin-right: 4px;
    border-radius: 50%;
    background-color: rgb(248, 172, 32);
}

.box-activite-day-date {
    display: flex;
    align-items: end;
    justify-content: end;
    color: #888;
}

.box-activite-day p {
    margin: 0;
    font-weight: bold;
    color: #20dd4f;
}

.box-activite-day svg {
    width: 25px;
    height: 25px;
}

.container-activities {
    width: 94%;
    margin: 30px;
}

.box-activities {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container-notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 25px;
}

.container-chat {
    display: flex;
    height: 100%;
}

.select {
    height: 35px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    transition: border-color 0.3s ease;
}
.select:hover {
    border-color: #888;
}
.select:focus {
    outline: none;
    border-color: #47b863;
}

.table-notes {
    width: 70%;
    border-collapse: separate;
    border-spacing: 5px;
}

.table-notes tr td {
    padding: 8px 5px;
    background-color: white;
}

.table-notes tr th {
    padding: 5px;
    background-color: rgb(74 222 128 / var(--tw-bg-opacity, 1));
    color: white;
}

.table-notes tr td input {
    width: 30px;
    height: 100%;
}

.button-notes.send {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #20dd4f;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 170px;
    height: 50px;
    padding: 0px 20px;
    border-radius: 8px;
    border: 2px solid #20dd4f;
    cursor: pointer;
    transition-duration: .3s;
}

.button-notes.update {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
	background-color: rgb(250 204 21);
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    padding: 0px 20px;
    border-radius: 8px;
    border: 2px solid rgb(250 204 21);;
    cursor: pointer;
    transition-duration: .3s;
}

.button-notes svg {
    width: 16px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    fill: white;
    transition-duration: .3s;
}

.button-notes:hover {
    background-color: transparent;
    color: transparent;
}

.button-notes.send:hover svg {
    right: 46%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
    fill: #20dd4f;
}

.button-notes.update:hover svg {
    right: 46%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
    fill: rgb(250 204 21);;
}

.content-group {
    display: flex;
    flex-direction: column;
    height: 87vh;   
    width: 30vw;
    background-color: white;
    border-right: 1px solid rgb(179, 179, 179);
    overflow-y: auto;
}

.content-group h1 {
    margin: 0;
    padding: 20px;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    justify-content: space-between;
}

.dropdown-menu .room {
    font-weight: bold;
    color: #7a7a7a;
    cursor: pointer;
    padding: 20px;
}
.dropdown-menu div:hover {
    background-color: #e7e7e7;
    text-decoration: underline;
}

.dropdown-menu .room.active {
    background-color: #e7e7e7;
    text-decoration: underline;
}

.box-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 56vw;
}

.box-info h1 {
    color: #666666; 
}

.box-info p {
    color: #7a7a7a; 
    font-weight: bold;
}

.box-info img {
    width: calc(100% / 2);
    height: calc(100% / 2);
}
